body{
    font-family: "Poppins", sans-serif;
}

#head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0px 40px 0px;
    font-size: 40px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px 0px 50px 0px;
    
}

#bth{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
}

#lastbtn{
    padding: 10px 12px;
}

#rock{
    padding: 20px 30px;
    font-size: 17px;
}

#paper{
    padding: 20px 30px;
    font-size: 17px;
}

#scissors{
    padding: 20px 30px;
    font-size: 17px;
}

#lastbtn{
    margin: 10px 0px;
    padding: 5px 20px;
    background-color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0) ;
    border-radius: 20px;
    font-size: 18px;
}

#linkd{
    text-decoration: none;
    color: black;
}

#linkd:hover{
    color: rgb(69, 69, 69);
}

#version{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    opacity: 0.7;
}