body{
    font-family: "Poppins", sans-serif;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35vh 25vh 0vh 25vh;
    padding: 10px;
}

#play{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 45vw 45px 45vw ;
    padding: 5px 20px;
    background-color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0) ;
    border-radius: 20px;
    font-size: 23px;
}

#linkd{
    text-decoration: none;
    color: black;
}

#linkd:hover{
    color: rgb(69, 69, 69);
}

#version{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    opacity: 0.7;
}